// Colors.
$color-orange: #EE7033;
$color-blue: #0C8397;
$color-gray: #BCBAB7;
$color-dark: #000;
$color-light: #fff;
$color-alert: #FF4500;

// Breakpoints.
$mobile: '576px';
$tablet: '767px';
$desktop: '1240px';
$desktop-large: '1420px';

// Fonts.
$font-basic: 'Kanit', sans-serif;
