@import "abstracts/variables";

.header {
  background-color: $color-light;
  border-bottom: 2px solid $color-orange;
  padding: 24px 0;

  .logo {
    max-width: 300px;
  }
}

.main {
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 64px 0;
}
